.wrapper {
  background-image:-webkit-linear-gradient(-60deg, #092532 49.5%, #89c9b8 50%);
  padding: 2.9% 25%;
  font-family: "Fjalla One", sans-serif;
  border:5px solid #fff;
}
.wrapper h4{
  text-align: center;
  color:#c7e2b2;
  font-family: "Anton", sans-serif;
  padding-bottom: 3%;
}
.wrapper h2 {
  text-align: center;
  color:#c7e2b2;
  font-family: "Anton", sans-serif;
  padding-bottom: 3%;
}
.row{
  background-color:#e0e5ec;
  border-radius:10px;
  padding-top:4%;
}
.grid-section {
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 2%;
}
.grid {
  background:url("../Assets/grid.png");
  background-size:cover;
  padding: 20px;
  height: 250px;
  width: 250px;
  border-radius: 20px;
  box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em #fff;
  margin-bottom: 50px;
}
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0 8%;
}
.form-section input[type="color"] {
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 2px;
  background-color: #e0e5ec;
  box-shadow: inset 2px 2px 8px #a3b1c6, inset -0.125em -0.125em 0.5em #fff;
}
.form-section input[type="number"] {
  width: 200px;
  padding-left: 10px;
  border: 0;
  background-color: #e0e5ec;
  box-shadow: inset 4px 4px 8px #a3b1c6, inset -0.25em -0.25em 0.5em #fff;
}
.submit-btn {
  display: flex;
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 10px;
  background-color: #08ffc8;
  box-shadow: 4px 4px 8px #a3b1c6, -0.25em -0.25em 0.5em #fff;
}
.color-pallete {
  background-color: #e0e5ec;
  box-shadow: 4px 4px 8px #a3b1c6, -0.25em -0.25em 0.5em #fff;
  width: 200px;
  height: 70px;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
}
.wrapper p {
  font-size:1.1rem;
  text-align: center;
  padding-top:2%;
  font-family: 'Caveat', cursive;
}

/* Media Queries */
@media (max-width: 980px) {
  .wrapper {
    padding:10%;
    border:0;
  }
  .form-section {
    text-align: center;
  }
  .color-pallete {
    margin: auto;
  }
  .form-section input[type="number"] {
    text-align: center;
    padding-left: 0;
  }
  .submit-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
